body {
  font-family: sans-serif;
  padding-top: 55.7px;
  background-color: rgb(253,253,253);
}


/* Navbar */
#body-navbar {
  background-color: #fff;
  box-shadow: 0 1px 0 rgba(12,13,14,0.1), 0 1px 3px rgba(12,13,14,0.1), 0 4px 20px rgba(12,13,14,0.035), 0 1px 1px rgba(12,13,14,0.025);
}

.navbar-brand {
  margin: 0px 20px;
  font-weight: bold;
  color: rgba(0,0,0,0.7);
}

.nav-link {
  margin: 0px 10px;
  color: rgba(0,0,0,0.7);
}


a:hover, a:focus{
  text-decoration: none;
}



/* Content */
.row-main{
  border-bottom:  1px solid rgb(235,235,235);
}
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}

.card {
  padding: 0px;
  margin: 0px;
  border-radius: 0px;
  border: 0;
  /*border-top:    1px solid  #ff0;*/
  border-left:  1px solid rgb(235,235,235);
  /*border-bottom: 3px dotted #f00;*/
  /*border-left:   5px solid  #09f;*/
}

.card-header, .popover-title {
  text-transform: uppercase;
  font-weight: bold;
  /*font-weight: 100;*/
  font-size: 12px;
  font-family: sans-serif;
  padding: 12px 25px;
  background: rgb(247,247,247);
  border: 0;
}

.button-header {
  margin-left: 20px;
}

.card-block {
  /*height: 100%;*/
  /*padding: 5px;*/
  position: relative;
}

.view {
    width:100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    padding: 30px;
}


.popover {
  max-width: 100%;
  border-radius: 0;
}

.popover-form {
  padding: 9px 14px;
}




/*Default*/

.box {
    width: 100%;
    height: 600px;
    border-top: 1px solid #222;
    padding-top: 20px;
}

.div-column {
    margin:  10px;
    display: inline-block;
}

.nav-help {
  margin-left: 20px;
}


.axis--grid .domain {
  fill: #ddd;
  stroke: none;
}

.axis--grid .tick line {
  stroke: #fff;
}




rect.selection, rect.handle {
  fill: steelblue !important;
}

 rect.overlay {
  fill: aliceblue !important;
  fill-opacity: 0.9 !important;
}

g.tick line {
  stroke: black;
}



#scatterSvg rect.selection, #scatterSvg rect.handle {
  fill: rgb(119, 119, 119) !important;
}

#scatterSvg rect.handle {
  fill-opacity: 0 !important;
}

#scatterSvg rect.overlay {
  fill: none !important;
}

#scatterSvg g.tick line {
  stroke: black;
}

#snapshot {
  text-align: left;
  border:  1px solid rgb(235,235,235) !important;
  margin-bottom: 20px;
}

#snapshot .card-block {
  padding: 0;
}

#snapshot img {
  width: 100%;
  image-rendering: crisp-edges;
}

.edit-name .fa-pencil {
  opacity: 0;
}

.edit-name:hover .fa-pencil {
  opacity: 1;
}
