#chordSvg{
	/*height: 760px;*/
}

#chordControl{
	position: relative;
	height: 110px;
}

#chordControlPanel{
	position: absolute;
	z-index: 1;
}

#chordControlGrade{
	position: absolute;
	z-index: 2;
}
#chordControlGrade .axis path,
#chordControlGrade .axis line {
  fill: none;
  stroke: #D4D8DA;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}
.chordTooltip {
  position: absolute;
  display: none;
  width: 100px;
  height: 60px;
  font-size: 8px;
  font-weight: bold;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid grey;
  text-align: center;
}

text {
  pointer-events: none;
  font-size: 12px;
}

.outer, .inner, .layout_circle_elements {
  cursor: pointer;
}

.ribbon-path:hover {
  opacity: 1;
}


#chordControl rect.selection, #chordControl rect.handle {
  fill: steelblue !important;
}

#chordControl  rect.overlay {
  fill: aliceblue !important;
  fill-opacity: 0.9 !important;
}

#chordControl g.tick line {
  stroke: black;
}
