.popupBody{
    height: 100%;
    width: 70%;
}
#individual{
	width: 100%;
	height: 100%;
	/*border: 1px solid grey;*/
}

#individualSvg{
	height: 70%;
	width: 100%;
	overflow: auto;
}

#individualTitle{
/*	margin-left: 10px;
	font-size: 15px;
	height: 5%;*/
}

#individualLegend{
	width: 100%;
	height: 40px;
}

#individualControl{
	width: 100%;
	height: 25%;
}

.individual-header {
	display: -webkit-box;
	text-transform: uppercase;
  font-weight: bold;
  /*font-weight: 100;*/
  font-size: 12px;
  font-family: sans-serif;
  padding: 12px 25px;
  background: rgb(247,247,247);
  border: 0;
}