#scatterSvg{
	height: 350px;
}

#scatterSvg .dot {
  stroke: #000;
}
#scatterSvg .dot:hover {
  stroke-width:3px;
}

#scatterSvg .brush .extent {
  fill-opacity: .1;
  stroke: #fff;
  shape-rendering: crispEdges;
}

#scatterSvg .tooltip {
  position: absolute;
  width: 400px;
  height: 40px;
  font-size: 20px;
  color:blue;
  font-weight: bold;
  pointer-events: none;
}

#scatterControl{
	height: 30px;
}
