#spmfSvg{
	height: 100%;
	width: 100%;
	overflow: auto;
}

#spmfControl{
	height: 100%;
}


.bar {
	stroke:grey;
	fill:#fff;
}
.axis path,
.axis line {
  fill: none;
  stroke: #D4D8DA;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.toolTip {
  position: absolute;
  display: none;
  width: 60px;
  height: 30px;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid grey;
  text-align: center;
}
