<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LSDVA</title>
    <link rel="stylesheet" href="css/dist/bootstrap.min.css" />
    <link rel="stylesheet" href="css/dist/bootstrap-tagsinput.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/css/tether.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css" />

    <link rel="stylesheet" href="css/body.css">
    <link rel="stylesheet" href="css/scatter.css">
    <link rel="stylesheet" href="css/spmf.css">
    <link rel="stylesheet" href="css/chord.css">
    <link rel="stylesheet" href="css/individual.css">
    <link rel="stylesheet" href="css/popup.css">

</head>

<body>

	<nav id="body-navbar" class="navbar navbar-toggleable-md fixed-top">
	    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
	            data-target="#navBarLSDVA" aria-controls="navBarLSDVA" aria-expanded="false"
	            aria-label="Toggle navigation">
	        <span class="navbar-toggler-icon"></span>
	    </button>
	    <a class="navbar-brand" href="#">ViSeq</a>

	    <div class="collapse navbar-collapse" id="navBarLSDVA">
	        <ul class="navbar-nav mr-auto">
	            <li class="nav-item">
	                <a class="nav-link" href="#"> | </a>
	            </li>
	            <li class="nav-item dropdown">
	                <a class="nav-link dropdown-toggle selected-model modelA" href="#" id="dropdown01"
	                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Courses</a>
	                <div class="dropdown-menu link-network-menu" aria-labelledby="dropdown01">
	                    <span v-for="item in buttons">
	                    	<a v-bind:href= "item.link" v-on:click="drawCourse($event)" class="dropdown-item" href="#">{{item.name}}</a>
	                    </span>
	                </div>
	            </li>
	        </ul>
	        <ul class="navbar-nav mr-auto">
	            <li class="pull-center nav-item dropdown">
	            	<a href="#" class="nav-help btn btn-outline-primary my-2 my-sm-0 card-h" data-toggle="modal" data-target="#individualSequence" style = "font-weight:bold">
						Individual View
					</a>
	            </li>
            </ul>
	        <ul class="navbar-nav">
	        	<li>
	        		<a class="nav-link" href="#"> About </a>
	        	</li>
	        	<li>
	        		<a class="nav-link" href="#"> Contact </a>
	        	</li>
	        	<li><a href="#" class="nav-help btn btn-outline-primary my-2 my-sm-0" type="submit"><i class="fa fa-question-circle" aria-hidden="true"></i> Help</a>
	        	</li>
	        </ul>

	    </div>
	</nav>

	<div class="modal fade individualsequence" id="individualSequence" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" style="height: 100%">
        <div class="modal-dialog popupBody modal-lg" role="document" style="max-width: 90%; height: 100%">
            <div class="modal-content" style="height: 90%;">
                <div class="modal-header individual-header">
                    <i id="individual-spinner" class="fa fa-refresh fa-spin fa-fw"></i> Individual View
                    	<div style = "display:none" id = "individualTitle">
							<a id = "individualFilter" class="button-header pull-right" href="#"><i class="fa fa-filter" aria-hidden="true"></i> Filter </a>
                        	<a id = "chainView" class="button-header pull-right" href="#"><i class="fa fa-link" aria-hidden="true"></i> Chain Design </a>
                        	<a id = "ballonView" class="button-header pull-right" href="#"><i class="fa fa-neuter" aria-hidden="true"></i> Balloon Design </a>


                        </div>
                </div>
                <div class="modal-body" style="height: 95%">
                    <div id = "individual">
                        <div id = "individualLegend"></div>
                        <div id = "individualSvg"></div>
                        <div id = "individualControl"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>

	<div class="container-fluid">
		<div class="row-main row">
			<div class="col-lg-3 no-margin no-padding">
	            <div class="card" style="height: 450px">
	                <div class="card-header">
	                    <i id="projection-spinner" class="fa fa-refresh fa-spin fa-fw"></i> Projection View
						<a id="scatter-filter-brush" data-toggle="popover-brush" title="Scatter View Filters"  class="button-header pull-right" href="#"><i class="fa fa-filter" aria-hidden="true"></i> Filter </a>
	                </div>
	                <div class="card-block" >
	                    <div id="scatter">
							<div id = "scatterSvg"></div>
							<div id = "scatterControl"></div>
						</div>
	                </div>
	            </div>
	            <div class="card" style="height: 550px">
	                <div class="card-header">
	                    <i id="pattern-spinner" class="fa fa-refresh fa-spin fa-fw"></i> Pattern View
	                    <a id="spmf-filter" data-toggle="popover" title="Pattern View Query"  class="button-header pull-right" href="#"><i class="fa fa-database" aria-hidden="true"></i> Query </a>
	                    <a id="spmf-filter-brush" data-toggle="popover-brush" title="Pattern View Filters"  class="button-header pull-right" href="#"><i class="fa fa-filter" aria-hidden="true"></i> Filter </a>
	                    <a id="spmf-redraw" class="button-header pull-right" href="#"><i class="fa fa-repeat" aria-hidden="true"></i> Redraw</a>
	                </div>
	                <div class="card-block" >
	                	<div id="spmf" class="view" style="padding: 0;">
	                		<div id = "spmfSvg"></div>
	                	</div>
	                </div>
	            </div>
			</div>
			<div class="col-lg-7 no-margin no-padding">
	            <div class="card" style="height: 1000px">
	                <div class="card-header">
	                    <i id = "sequence-spinner" class="fa fa-refresh fa-spin fa-fw"></i> Sequence View
                        <a href="#"><i id = "chordDrawAll" class= "fa fa-history fa-fw"></i></a>
                        <a class="button-header pull-right chordFilter" href="#"><i class="fa fa-filter" aria-hidden="true"></i> Filter </a>
	                    <a id="chord-redraw" class="button-header pull-right" href="#"><i class="fa fa-repeat" aria-hidden="true"></i> Redraw</a>
	                    <a class="button-header pull-right" href="#" style="cursor: default;"><i class="fa fa-minus" aria-hidden="true"></i> Threshold: <span style="color: black; cursor: pointer;"><span id="chord-threshold">NO</span></span></a>
	                </div>
	                <div class="card-block" >
	                	<div id="chord" class="view">
	                		<div id = "chordSvg"></div>
                    		<div id = "chordControl">
                    			<div id="chordControlPanel"></div>
                                <div id="chordControlGrade"></div>
                    		</div>
	                	</div>

	                </div>
	            </div>
			</div>
			<div class="col-lg-2 no-margin no-padding">
	            <div class="card" style="height: 1000px">
	                <div class="card-header">
	                    Screenshots
	                    <a class="button-header pull-right" href="#" data-toggle="modal" data-target="#explanatioPaste"><i class="fa fa-paste" aria-hidden="true"></i> Paste</a>
	                </div>
	                <div id="screenshots" class="card-block text-center" style="overflow: scroll;">
	                </div>
	            </div>
			</div>
		</div>
	</div>


<!-- Modal Explanation Paste -->
<div class="modal fade" id="explanatioPaste" tabindex="-1" role="dialog" aria-labelledby="explanatioPaste" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Paste</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Use your usual screenshot tools or screen capture techniques and paste the result directly here.
      </div>

    </div>
  </div>
</div>


<script src="js/dist/jquery-3.1.1.slim.min.js"></script>
<script src="js/dist/tether.min.js"></script>
<script src="js/dist/bootstrap.min.js"></script>
<script src="js/dist/d3.v4.js"></script>
<script src="js/dist/moment.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="js/dist/ie10-viewport-bug-workaround.js"></script>
<script src="js/dist/bootstrap-tagsinput.js"></script>

<!-- Popovers -->
<div style="display: none;" id="spmf-filter-template">
	<div class="popover" role="tooltip"><div class="arrow"></div><h1 class="popover-title"></h1>
		<div class="popover-form">
			<div class="form-group row">
			  <label for="example-text-input" class="col-5 col-form-label">Week</label>
			  <div class="col-7">
				  <select class="custom-select spmf-week-select pull-right mb-2 mr-sm-2 mb-sm-0">
				  <!-- FILLED BY D3 -->
		<!-- 		    <option selected>Choose...</option>
				    <option value="1">One</option>
				    <option value="2">Two</option>
				    <option value="3">Three</option> -->
				  </select>
			  </div>
			</div>
			<div class="form-group row">
			  <label for="example-search-input" class="col-5 col-form-label">Length</label>
			  <div class="col-7">
				  <select class="custom-select spmf-length-select pull-right mb-2 mr-sm-2 mb-sm-0">
				  <!-- FILLED BY D3 -->
		<!-- 		    <option selected>Choose...</option>
				    <option value="1">One</option>
				    <option value="2">Two</option>
				    <option value="3">Three</option> -->
				  </select>
			  </div>
			</div>
			<div class="form-group row">
			  <label for="example-search-input" class="col-12 col-form-label">Query (Tags sparated by comas)</label>
			</div>
			<div class="form-group row">
				<div class="col-12">
					<input id="spmf-filter-template-tags" class="spmf-input pull-right form-control" type="text" value="V1.1,V1.2" id = "example-text-input">
		  		</div>
			</div>
			<a id="spmf-filter-go" class="button-header pull-right spmf-go" href="#"><i class="fa fa-filter" aria-hidden="true"></i> GO! </a><br>
		</div>
	</div>
</div>

<div style="display: none;" id="spmf-filter-brush-template">
	<div class="popover" role="tooltip"><div class="arrow"></div><h1 class="popover-title"></h1>
		<div id = "spmfControl" style="width: 600px;"></div>
	</div>
</div>



<!-- SNAPSHOT TEMPLATE -->
<div style="display: none;" id="snapshot-template">
    <div class="card" id="snapshot">
        <div class="card-header">
        	<div class="edit-name"><span class="screenshot-name">SCREENSHOT-NAME</span> <i class="fa fa-pencil"></i></div>
        </div>
        <div class="card-block" >
        	SCREENSHOT-CONTENT
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.1/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.2.1/vue-resource.min.js"></script>

<script src="js/lib/Config.js"></script>

<script src="js/lib/scatter.js"></script>
<script src="js/lib/spmf.js"></script>
<script src="js/lib/chord.js"></script>
<script src="js/lib/individual.js"></script>
<script src="js/lib/snapshot.js"></script>

<script src="js/service/pipService.js"></script>
<script src="js/service/dataService.js"></script>

<script src="js/model/navbar.js"></script>
<script src="js/model/scatterView.js"></script>
<script src="js/model/spmfView.js"></script>
<script src="js/model/chordView.js"></script>
<script src="js/model/individualView.js"></script>


<script type="text/javascript">
	$('#pattern-spinner').hide();
	$('#individual-spinner').hide();
	$('#sequence-spinner').hide();
	$('#projection-spinner').hide();
</script>
</body>
</html>
